# Environment & secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Application data
*.db
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform
terraform/.terraform/
terraform/*.tfstate*
terraform/*.tfvars

# Node
node_modules/
dist/

#ssh
login-ssh.pem
